#sidebar {
	display: flex;
	flex-direction: column;

    width: 200px;
	min-width: 200px;

    background: #48525b;
    color: rgba(255, 255, 255, .75);
    font-family: 'Open Sans', sans-serif;

}

#logo {
    margin: 1.25em 0.9375em 0.9375em 0.9375em
}

#logo img {
    width: 98%;
    height: auto;
}

.link-grouping {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    padding-bottom: 0.5rem;
}

.sidebar-link {
    display: flex;
    align-items: flex-end;

    width: 100%;
    padding: 0.625rem 1.1rem;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.15s ease;
    position: relative;

    box-sizing: border-box;
}

.sidebar-link:hover, .sidebar-link.selected {
    color: #ffffff;
    background: rgba(255, 255, 255, .15);
}

#sidebar svg {
    margin-right: 0.75rem;
    transform: scale(1.15);
    min-width: 1.1rem;
}

.link-label {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
}

.admin-links {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.admin-label-wrapper {
    margin: 0 0.7rem;
}

.admin-label {
    color: rgba(255, 255, 255, .75);
    font-weight: 700;
    font-size: 0.7rem;
    opacity: 0.5;
    margin: 0.5rem 0 0.4rem 0;
}